<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Replace this setting with the name of your local StreamInsight instance -->
		<add key="LinStreamInsight" value="StreamInsightInstance" />

		<!-- Twitter Streaming API settings.  Replace username/password settings with your own -->
		<add key="twitter_username" value="PutYourTwitterHandleHere" />
		<add key="twitter_password" value="DontForgetYourPassword!!" />
    <add key="oauth_consumer_key" value="your consumer key"/>
    <add key="oauth_consumer_secret" value="your secret key"/>
    <add key="oauth_token" value ="token here"/>
    <add key="oauth_token_secret" value="token secret here"/>
		<!-- Enter keywords, hashtags, or handles here.  Use comma to separate multiple entries -->
		<add key="twitter_keywords" value="Office Microsoft,Surface Microsoft,Phone Window,Windows 8,SQL Server,SharePoint,Bing,Skype,XBox,System Center,Microsoft,msftluv" />
		<!-- The following settings are only required for ViralHeat sentiment analysis.  Don't need them when using Sentiment140
		<add key="sentiment_json" value="http://www.viralheat.com/api/sentiment/review.json" />
		<add key="sentiment_quota" value="http://www.viralheat.com/api/sentiment/quota.json" />
		<add key="sentiment_api_key" value="Ql6tzWaWMhrf8dkbFZcn;tbQ331nDXYMKNuFNK8uT;DNOE5mHICPzxtDyBC;S0QrGsG4vW3MVBNUv5" />
		<add key="sentiment_prob_threshold" value="0.8" />
		-->
		
	
		<!-- Azure Blob Storage settings -->
		<add key="blob_storage_account" value="DefaultEndpointsProtocol=http://lhhightech.blob.core.windows.net/;AccountName=lhhightech;AccountKey=NwCcDNfffIxyTG3/Sfeu0rfovHWgRQ6Mo6DCYWJDjXkiisxPn7VaKWNhULeYr+ZK8OzY2K3NVjN8BDbSBQ2Qkw==" />
		<add key="blob_container_name" value="Twittercep" />
		

		<!-- Azure Database settings -->
		<add key="db_server_name" value="spfwgzgvyl.database.windows.net" />
		<add key="db_name" value="LinAzureSql" />
		<add key="db_user" value="Lhhightech" />
		<add key="db_user_pwd" value="Lin123456" />

		<!-- Web Socket settings to send data to real time dashboard -->
		<add key="ws_url" value="localhost" />
		<!--web socket url-->
		<add key="ws_port_total" value="8181" />
		<!--web socket port-->
		<add key="ws_port_topic" value="8182" />
		<!--web socket port-->
		<add key="ws_port_tweet" value="8183" />
		<!--web socket port-->

	</appSettings>
	<system.serviceModel>
		<client>
			<!-- replace all three occurrences of 'austinDnsPrefix' below with the DNS prefix of your service -->
			<endpoint name="austin_endpoint" address="net.tcp://mtcsgaustin.cloudapp.net:6533/StreamInsight" binding="netTcpBinding" bindingConfiguration="austin_binding" behaviorConfiguration="austin_endpoint_behavior" contract="Microsoft.ComplexEventProcessing.ManagementService.IManagementService">
				<identity>
					<dns value="mtcsgaustin.cloudapp.net" />
				</identity>
			</endpoint>
		</client>
		<bindings>
			<netTcpBinding>
				<binding name="austin_binding" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536" transferMode="Streamed" openTimeout="00:01:00" closeTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00">
					<security mode="Transport">
						<transport clientCredentialType="Certificate" />
					</security>
					<readerQuotas maxDepth="128" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="austin_endpoint_behavior">
					<clientCredentials>
						<clientCertificate findValue="StreamInsight Client (mtcsgaustin)" x509FindType="FindBySubjectName" storeLocation="CurrentUser" storeName="My" />
						<serviceCertificate>
							<authentication certificateValidationMode="PeerOrChainTrust" revocationMode="NoCheck" />
						</serviceCertificate>
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>