<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!-- ***************************************************************** -->
    <!-- user settings that need to be changed -->

    <!-- Id of the subscription that contains the hosted service -->
    <add key="SubscriptionId" value="140b706b-ad41-4390-80f0-95667473a241" />

    <!-- The hosted service DNS prefix to name where StreamInsight will be provisioned. Please substitute for your hosted service -->
    <add key="HostedServiceName" value="mtcsgaustin" />

    <!-- Name of the storage account to use -->
    <add key="StorageAccountName" value="mtcsgtest" />

    <!-- Key of the storage account to use -->
    <add key="StorageAccountKey" value="W0MVFNjTnM+Pz/175kjAniyM5DsYgtW5ucNNMs6u1hx+i3QyHEM+tM2985Sgh67RDn9fuZwWc4psfjuRHf8qug==" />

    <!-- Management certificate pfx file for the subscription [e.g. C:\Users\clault\Desktop\Project Austin\mtcsg.pfx]-->
    <add key="ServiceManagementCertificateFilePath" value="C:\Demo\Cloud\mtcsg.pfx" />

    <!-- Password for the Azure Management Certificate File (.pfx)-->
    <add key="ServiceManagementCertificatePassword" value="abcd1234!" />

    <!-- Password to encode the returned client certificate pfx -->
    <add key="ClientCertificatePassword" value="abcd1234!" />


    <!-- ***************************************************************** -->
    <!-- user settings that can keep their defaults -->
 
    <!-- VM size of the Austin compute role ("Small", "Medium", "Large", or "ExtraLarge") -->
    <add key="ComputeVmSize" value="Small" />
 
    <!-- VM size of the Austin ingress role ("Small", "Medium", "Large", or "ExtraLarge") -->
    <add key="IngressVmSize" value="Small" />
 
    <!-- Number of Austin ingress instances -->
    <add key="NumberOfIngressInstances" value="1" />
 
    <!-- Ingress endpoint -->
    <add key="IngressEndpointPort" value="8081" />

    <!-- Ingress protocol ("http" or "https") -->
    <add key="IngressProtocol" value="http" />
    
    <!-- ***************************************************************** -->
    <!-- system settings - don't change! -->

    <!-- The URL of the Austin Management Service -->
    <add key="AustinManagementUrl" value="https://azure.streaminsight.net" />

  </appSettings>
</configuration>
