<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!-- The DNS prefix of the hosted service to be deleted -->
    <add key="HostedServiceName" value="mtcsgaustin" />
    
    <!-- Management certificate pfx file for the subscription [e.g. C:\Users\clault\Desktop\Project Austin\mtcsg.pfx]-->
    <add key="ServiceManagementCertificateFilePath" value="C:\Demo\Cloud\mtcsg.pfx" />
    <!-- Password for the Azure Management Certificate File (.pfx)-->
    <add key="ServiceManagementCertificatePassword" value="abcd1234!" />
    <!-- The URL of the Austin Management Service -->
    <add key="AustinManagementUrl" value="https://azure.streaminsight.net" />
  
  </appSettings>
</configuration>